.container{
    background-color: rgb(225, 228, 227);
    margin-top: 4vw;
}
#countery{
    margin-left: 10vw;
}
#header{
    text-align: center;
    color: #0b5ed7;
    border-color: #0a58ca;
    width: 100%;
    margin: 0;

}

.row {
    margin-top: 3vw;

}